python-telegram-bot
python-telegram-bot[job-queue]
requests
requests[socks]
python-dotenv
openpyxl
Pillow
pytz
pandas 
pandas_ta
tradingview-ta
chardet
aiohttp 
beautifulsoup4 
lxml
brotli
psutil
loguru
